body{
  background-color:rgb(209, 209, 211);
  animation: transitionIn 1s;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10deg);
}
  to{
    opacity: 1;
    transform: translateY(0); 
  }
  
}

.topdiv{
  direction: none;
}
.topdivH1{
  margin-top: 40px;
  color: rgb(80, 80, 80);
  font-size: 30px;
}
.links2{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  display: block;
  width: 100%;
  height: 300px;
  margin-top: 20px;
  background: darkgray;
  font-size: 50px;
  border-radius: 20px;
}
.links1{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  display: block;
  width: 100%;
  height: 300px;
  margin-top: 20px;
  background: silver;
  font-size: 50px;
  border-radius: 20px;
}
.textM{
	margin-left: 20px;
}
