html {
  scroll-behavior: smooth;
}
body{
  background-color:rgb(255, 255, 255);
  animation: transitionIn 1s;
  transition: ease-in-out 1s;
}
@keyframes transitionIn{
  from {
    opacity: 0;
    transform: translateY(-10deg);
}
  to{
    opacity: 1;
    transform: translateY(0); 
  }
  
}
.topbar{
  width: 100%;
  background: rgb(255, 0, 85);
  height: 25px;
  border-radius: 1px;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.logo{
  height: 18px;
  width: 80px;
  margin-left: 7px;
}
.topbarL{
  font: bold 18px tahoma;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 4px 12px 4px 12px;
  border-radius: 5px;
  transition:  ease-in-out 0.2s;
}
.topbarL:hover{
  color: rgb(255, 115, 115);
}
.topdiv{
  width: 100%;
  height: 770px;
  padding: 8px;
  background-image: url("../imges/cppB.jpeg");
  background-size: cover;
  text-align: center;
  display: block flex;
  position: absolute;
  border: solid rgba(100, 100, 100, 0.192) 4px;
  color: white;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.topdivL{
  text-decoration: none;
  color: black;
}
.toph1{
  margin-top: 13%;
  text-align: center;
  font-size: 40px;
}

.topdivL{
  font-size: 24px;
  width: 30%;
  padding: 6px;
  text-align: center;
  display:inline-block;
  color: rgb(70, 107, 138);
  background:rgb(252, 36, 90);
  border-radius: 4px;
  transition:  ease-in-out 0.2s;
}
.topdivL:hover{
  background:rgb(255, 0, 64);
}
.midBtw{
  text-align: center;
  color: dimgray;
}
.midleDivL{
  margin-top: 2%;
  padding-bottom: 200px;
  text-align: center;
  border-radius: 3px;
}
.midleDivR{
  margin-top: 2%;
  padding-bottom: 200px;
  text-align: center;
  border-radius: 3px;
}
.midlleL{
  font-size: 24px;
  width: 30%;
  padding: 4px;
  text-align: center;
  display:inline-block;
  color: white;
  background:rgb(252, 36, 90);
  border-radius: 4px;
  transition:  ease-in-out 0.2s;
  text-decoration: none;
}
.midlleL:hover{
  background:rgb(255, 0, 64);
}
.middleDivtextL{
  margin-left: 10px;
}
.middleDivtextR{
  margin-right: 10px;
}
.middleDivH1{
  color: gray;
  text-shadow: 1px 1px rgb(216, 216, 216);
}
.middleDivP{
  color: black;
}

.enddiv{
  width: 100%;
  background:rgb(0, 0, 0);
  position: relative;
  min-height: 100px;
}
.enddivText{
  padding-top: 10px;
  font-size: 11px;
  text-align: left;
  color: white;
}