html {
  scroll-behavior: smooth;
}
body{
  background-color:rgb(209, 209, 211);
  animation: transitionIn 1s;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10deg);
}
  to{
    opacity: 1;
    transform: translateY(0); 
  }
  
}
.topbar{
  background: rgba(255, 255, 255, 0.877);
  width: 100%;
  position: absolute top;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  overflow: hidden;
  height: 25px;
  border-radius: 2px;
  z-index: 1;
}
.logo{
  height: 18px;
  width: 80px;
  margin-left: 3px;
}
.topbarL{
  font: bold 18px tahoma;
  text-decoration: none;
  color: #81848a;
  padding: 4px 12px 4px 12px;
  border-radius: 5px;
  transition:  transform 1s;
}
.topbarL:hover{
  color: rgb(68, 68, 68);
}
.topdiv{
  width: fill;
  height: 300px;
  margin-top: 16px;
  padding: 8px;
  background: grey;
  text-align: center;
  display: block;
  margin-top: 30px;
  border-radius: 4px;
  position: absolute top;
  border: solid black 1px;
}
.topdivL{
  text-decoration: none;
  color: black;
}
.toph1{
  text-align: center;
  font-size: 40px;
}
.topdiv2{
  text-align: center;
  width: fill;
  height: 300px;
  margin-top: 16px;
  width: 25%;
  padding: 25px;
  height: 85%;
  display:inline-block;
  border-radius: 10px;
  border: solid black 1px;
  background: silver;
  transition:  transform 1s;
}
.topdiv2:hover{
  background: darkgray;
  font-size: 20px;
}
.topdiv3{
  text-align: center;
  width: fill;
  height: 300px;
  margin-top: 16px;
  width: 25%;
  padding: 25px;
  height: 85%;
  display:inline-block;
  border-radius: 10px;
  border: solid black 1px;
  background: silver;
  transition:  transform 1s;
}
.topdiv3:hover{
  background: darkgray;
  font-size: 20px;
}
.topdiv4{
  text-align: center;
  width: fill;
  height: 300px;
  margin-top: 16px;
  width: 25%;
  padding: 25px;
  height: 85%;
  display:inline-block;
  border-radius: 10px;
  border: solid black 1px;
  background: silver;
  transition:  transform 1s;
}
.topdiv4:hover{
  background: darkgray;
  font-size: 20px;
}
.midBtw{
  text-align: center;
  color: dimgray;
}
.midleDivL{
  margin-top: 4%;
  background: silver;
  padding-bottom: 200px;
  border-radius: 8px;
  border: solid 1px gray;

}
.midleDivR{
  margin-top: 4%;
  background: silver;
  padding-bottom: 200px;
  border-radius: 8px;
  border: solid 1px gray;

}
.middleDivtextL{
  margin-left: 10px;
}
.middleDivtextR{
  margin-right: 10px;
}
.middleDivH1{
  color: gray;
}
.middleDivP{
  color: black;
}
.enddiv{
  margin-top: 10%;
  width: 100%;
  height: 80px;
  background: darkgray;
  display: flex;
  bottom: 0; 
}
.enddivText{
  padding-top: 10px;
  font-size: 11px;
  text-align: left;
  margin-left: 8px;
}